{{#each data as |item|}}
<li class="browser-item" id="{{item._id}}" data-name="{{item.name}}"
    data-ability="{{item.abilityBonuses}}">
    <label class="name">{{item.name}}</label>
    <label>
        {{#if item.abilityBonuses}}
            {{item.abilityBonuses}}
        {{else}}
            None
        {{/if}}
    </label>
</li>
{{/each}}