{{#each data as |skill|}}
<li class="browser-item" id="{{skill._id}}" data-name="{{skill.name}}" data-tier="{{skill.system.tier}}"
    data-school="{{skill.system.school}}" data-ap="{{skill.system.ap}}" data-fp="{{skill.system.fp}}">
    <label class="name">{{skill.name}}</label>
    <label class="thin">
        {{#if skill.system.ap}}
        {{skill.system.ap}}
        {{else}}
        -
        {{/if}}
    </label>
    <label class="thin">
        {{#if skill.system.fp}}
        {{skill.system.fp}}
        {{else}}
        -
        {{/if}}
    </label>
    <label>
        <div class="flexrow">
            <div>
                {{skill.system.tier}} &emsp; {{lookup ../celestus.skillTiers skill.system.tier}}
            </div>
        </div>
    </label>
        {{#if (eq skill.system.type "civil")}}
        {{#with (lookup ../celestus.civilSkills skill.system.school)}}
    <label class="school" style="color:var(--color-{{text}}-bg)">
        {{label}}
    </label>
        {{/with}}
        {{else}}
        {{#with (lookup ../celestus.combatSkills skill.system.school)}}
    <label class="school" style="color:var(--color-{{damage}}-bg)">
        {{label}}
    </label>
        {{/with}}
        {{/if}}
</li>
{{/each}}