<header>
    <h1>Filter</h1>
    <button><i class="fa-solid fa-check"></i></button>
</header>
<div class="form-content">
    <div class="form-section" name="type">
        <h1>Civil Ability Bonus</h1>
        {{#each config.civilSkills}}
        <input name="system.bonuses.civil.{{text}}" type="checkbox" id="system.bonuses.civil.{{text}}"
            class="hidden-check" data-value="1" data-field="system.bonuses.civil.{{text}}"
            data-name="{{label}}"></input>
        <label for="system.bonuses.civil.{{text}}" class="form-toggle">
            <i class="{{glyph}}"></i> {{label}}
        </label>
        {{/each}}
    </div>
</div>
<footer class="form-submit">
    <button>Submit</button>
</footer>