<header>
    <h1>Filter</h1>
    <button><i class="fa-solid fa-check"></i></button>
</header>
<div class="form-content">
    <div class="form-section" name="type">
        <h1>Combat Ability Bonus</h1>
        {{#each config.combatSkills}}
        <input name="combatAbilities.{{text}}" type="checkbox" id="combatAbilities.{{text}}" class="hidden-check"
            data-value="{{text}}" data-field="combatAbilities" data-name="{{label}}"></input>
        <label for="combatAbilities.{{text}}" class="form-toggle">
            <i class="{{glyph}}"></i> {{label}}
        </label>
        {{/each}}
    </div>
</div>
<footer class="form-submit">
    <button>Submit</button>
</footer>