<div class="dice-flavor celestus roll description">
    <header class="summary">
        <div class="name-stacked">
            <div class="title">{{name}}</div>
        </div>
    </header>
    <!--
    <div class="roll-tags">
        {{!-- feature type --}}
        <span class="roll-tag">
            {{lookup config.featureTypes system.type}}
        </span>

        {{!-- Combat Abilities --}}
        {{#if (not (zeroedObject system.bonuses.combat))}}
        <div class="roll-tag" data-tooltip="{{label}}">
            <span class="name">
                Combat Abilities:
            </span>
            {{#each system.bonuses.combat as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.combatSkills skill)}}
            {{numberFormat value sign=true decimals=0}}
            {{label}}
            {{/with}}
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{!-- Civil Abilities --}}
        {{#if (not (zeroedObject system.bonuses.civil))}}
        <div class="roll-tag" data-tooltip="{{skill}}">
            <span class="name">
                Civil Abilities:
            </span>
            {{#each system.bonuses.civil as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.civilSkills skill)}}
            {{numberFormat value sign=true decimals=0}}
            {{label}}
            {{/with}}
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{!-- Attributes --}}
        {{#if (not (zeroedObject system.bonuses.abilities))}}
        <div class="roll-tag" data-tooltip="{{skill}}">
            <span class="name">
                Attributes:
            </span>
            {{#each system.bonuses.abilities as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.abilities skill)}}
            {{numberFormat value sign=true decimals=0}}
            {{label}}
            {{/with}}
            {{/if}}
            {{/each}}
        </div>
        {{/if}}

        {{!-- Resistances --}}
        {{#if (not (zeroedObject system.bonuses.resistance))}}
        <div class="roll-tag" data-tooltip="{{skill}}">
            <span class="name">
                Resistances:
            </span>
            {{#each system.bonuses.resistance as |value skill|}}
            {{#if value}}
            {{#with (lookup ../config.damageTypes skill)}}
            {{percent value symbol=true sign=true}}
            {{label}}
            {{/with}}
            {{/if}}
            {{/each}}
        </div>
        {{/if}}
    </div>
    -->
    {{#if flavor}}{{{flavor}}}{{/if}}
</div>